.headingDiv {
    text-align: center;
    margin: 3rem;
    font-size: 3.5rem;
}

.headingDiv1 {
    padding-top: 20px;
}

.work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.WorkImg {
    height: 90%;
    object-fit: contain;
    width: 100%;
}

.work {
    margin: 40px;
    width: 100%;
    background-color: #141414;
    border: 1px solid white;
    padding: 25px 20px;
}

.content {
    padding: 10px 0;
    font-size: 20px;
    color: white;
}

.content .work-paragraph {
    font-size: .7rem;
}

.content .work-heading {
    font-size: 2rem;
}

.tec-icons {
    font-size: 50px;
    margin: 8px 0;
    margin-left: -5px;
}

.buttons1 {
    display: flex;
    justify-content: space-between;
}

.button {
    border: 1px solid white;
    margin: 10px 0;
    padding: 15px 30px;
    font-size: 30px;
    background: linear-gradient(orange, yellow);
    color: black;
}

.button:hover {
    background-color: #222;
}

@media screen and (min-width:1080px) {
    .headingDiv{
        font-size: 2rem;
    }
    .work {
        width: 410px;
    }

    .tec-icons {
        font-size: 25px;
        margin-top:-5px;
    }

    .button {
        padding: 10px;
        font-size: 18px;
    }

    .content .work-heading {
        font-size: 1.5rem;
    }

    .content .work-paragraph {
        font-size: 1.1rem;
    }
}