 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1,h4,p,a{
  color:#fff;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn{
   margin-right:15px;
  border:1px solid white;
  background: linear-gradient(orange,yellow);
  padding:12px 34px;
  text-transform: uppercase;
  color:black;
  font-size: 1rem;
  font-weight: 600;
  cursor:pointer;
}
.btn-light{
  margin:5px;
  border:1px solid white;
  background-color:transparent;
  padding:12px 36px;
  text-transform: uppercase;
  color:black;
  font-size: 1rem;
  font-weight: 600;
  cursor:pointer;
}
.btn:hover{
  color:white;
  transition:0.3s;
  background:rgba(255,255,255,.2)
} 
.navbar{
  display:flex;
  align-items:center;
  padding:1rem;
  justify-content:space-between;
  width:100%;
  position : fixed;
  height:90px;
  z-index:10; 
}
.navbar-bg{
  background-color: black;
  opacity:0.9;
  transition:0.5s;
}
.nav-menu{
  display : flex;
  margin-right:20px;
}
.nav-menu li{
  padding : 0 1rem;
}
.nav-menu li a{
 font-size: 1.2rem;
 font-weight:500;
}
.hamburger{
  display :none;
}
.small-heading{
  font-size:1.8rem;
  position:relative;
  top:20px;
}
.big-heading{
  align-items: center;
  font-size:3.5rem;
}
.home-featured-projects .headingDiv{
  font-size:32px;
  margin-top:80px;
}
.home-featured-div .work-container .work{
  width:350px;
}
.home-featured-div .work-container{
  margin-bottom: 50px;
}

@media (max-width : 1080px){
  .home-featured-projects .headingDiv{
    font-size:45px;
    margin-top:80px;
  }
  .navbar{
    width:100%;
  }
  .home-featured-div{
    margin-bottom: 80px;
  }

  .home-featured-div .work-container .work{
    width:100%;
  }

  .nav-menu{
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width:100%;
      height:100vh;
      background-color:black;
      position:absolute;
      top : 0; 
      margin:0;
      left : -110%;
      z-index:-3;
      transition:0.3s; 
  }
  .nav-menu.active {
      background-color: black;
      left : -40px;
  }
  .nav-menu li{
      padding : 1rem;
  }
  .nav-menu li a{
      font-size:5rem;
  }
  .portfolioSize{
      font-size:3.5rem;
  }
  .hamburger{
    display:initial;
    margin-right:40px;  
  }   
  .btn1{
    position: absolute; 
    top:95%;
     left:-5%;
     font-size:2rem;
  }
  .btn-light1{
    position : absolute;
    left:55%;
    top:94%;
    font-size:2rem;
  } 
  .small-heading{
    font-size:2.5rem;
    position: relative;
    top : 30px;
  }
  
  .big-heading{
    align-items: center;
    font-size:5.5rem;
  } 
}  